{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Resume Builder</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body style="padding:20px;">
    <h1 class="mt-2" style="text-align:center;font-weight:bolder;color:steelblue;">Welcome to Resume Builder!!!</h1>
    <hr class="mt-0 mb-4">
    {% crispy form form.helper %}

</body>

</html>